/* Additional CSS */

div.timepicker .form-control:focus + span {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ffdd00;
	border-width: 1px;
}

div.timepicker input.timepickerInput {
	border-right: 0px;
}

div.timepicker span.input-group-addon {
	background: rgba(255, 255, 255, 0.03);
	border: 2px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.5);
	border-left: 0px;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ui-slider.ui-widget.ui-widget-content {
	background: rgba(255, 255, 255, 0.03);
	border: 2px solid rgba(255, 255, 255, 0.1);
}

.form-group.slider-group {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-group.slider-group p.help-block {
	font-size: 11px;
	margin: 0px;
}

#custom-handle {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -0.8em;
	text-align: center;
	line-height: 1.6em;
	background: #ffdd00;
	border-color: #ffdd00;
	color: #000;
	outline: none;
}

/* Search Listing */

#search-results {
	/*padding-top: 10px;*/
	padding: 30px 0px;
	background-color: #f9f9f9;
}

#search-results div.list-group {
	/*padding-top: 10px;*/
	padding: 30px 0px;
	background-color: #f9f9f9;
}

#search-results div.list-group:not(:first-of-type) {
	display: none;
}

#search-results div.list-group-item {
	padding: 36px 38px 28px 23px;
}

#search-results div.list-group > div:not(:last-child) {
	margin-bottom: 10px;
}

div.list-group-item div.list-headline {
	display: flex;
	margin-bottom: 10px;
}

div.list-group-item div.vehicle-img img {
	width: 100%;
}

div.list-group-item div.vehicle-title h2 {
	margin-top: 0px;
	margin-bottom: 1px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -0.7px;
}

div.list-group-item div.vehicle-title h5 {
	font-weight: 300;
}

div.list-group-item div.vehicle-info {
	margin-bottom: 10px;
}

div.list-group-item div.vehicle-info div.infos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

div.list-group-item div.vehicle-info div.infos > div {
	-ms-flex-preferred-size: 0;
	flex-basis: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding: 0px 15px;
}

div.list-group-item div.vehicle-info span {
	font-size: 12px;
}

div.list-group-item div.vehicle-info li {
	display: flex;
}

div.list-group-item div.vehicle-info i {
	margin-right: 5px;
	color: #f7d600;
	font-size: 20px;
	position: relative;
	top: 4px;
}

div.list-group-item div.vehicle-select {
	float: right;
	text-transform: uppercase;
	width: 60%;
}

div.list-group-item div.vehicle-select a {
	width: 100%;
}

div.list-group-item div.vehicle-price {
	min-width: 130px;
	text-align: right;
	color: #fff;
	margin-bottom: 25px;
}

div.list-group-item div.vehicle-price div.normal-price {
	position: relative;
	left: -4px;
	padding: 13px 8px 12px 4px;
	background-color: #2c2e3e;
	display: inline-block;
}

div.list-group-item div.vehicle-price div.normal-price:before {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	left: -16px;
	height: 100%;
	width: 32px;
	background-color: #2c2e3e;
	transform: skew(-23deg, 0deg);
}

#search-results span.label-price {
	max-width: 35px;
	display: inline-block;
	position: relative;
	top: -6px;
	margin-right: 3px;
	line-height: 13px;
	font-size: 11px;
	vertical-align: middle;
	text-transform: uppercase;
	opacity: 0.7;
}

div.list-group-item div.vehicle-price span.title-price {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -1px;
}

div.list-group-item div.vehicle-more-info a {
	color: #2c2e3e;
	font-size: 11px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: 200;
}

.arrow-down {
	width: 10px;
	height: 10px;
	position: relative;
	display: inline-block;
}

.arrow-down:before {
	right: 4px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transform: rotate(45deg);
}

.arrow-down:before,
.arrow-down:after {
	content: "";
	display: block;
	width: 4px;
	height: 1px;
	background: #2c2e3e;
	position: absolute;
	top: 5px;
	transition: transform 0.5s;
}

.arrow-down:after {
	right: 1px;
	transform: rotate(-45deg);
}

div.list-group-item div.vehicle-more-info a.active .arrow-down:after {
	transform: rotate(45deg);
}

div.list-group-item div.vehicle-more-info a.active .arrow-down:before {
	transform: rotate(-45deg);
}

div.list-group-item div.vehicle-detail {
	display: none;
	padding-top: 20px;
}
div.extras-element-group {
	margin-bottom: 20px;
}
#extras-button a.btn {
	width: 100%;
}
div.extras-list-group > div.list-group-item h4.list-group-item-heading {
	padding-bottom: 10px;
}

div.extras-element div.extra-title h5 {
	font-weight: 500;
	margin-bottom: 5px;
}

div.extras-element {
	margin-bottom: 0px !important;
	border: none;
	box-shadow: 0px 0 0 0 #ddd, 0 1px 0 0 #ddd, 0px 1px 0 0 #ddd,
		0px 0 0 0 #ddd inset, 0 1px 0 0 #ddd inset;
}

div.extras-element div.form-group {
	margin-bottom: 5px;
}

div.extras-element div.form-group label {
	font-size: 10px;
}

div.extras-element div.form-group select {
	height: 39px;
}

div.final-form-group div.list-group-item h4.list-group-item-heading {
	padding-bottom: 10px;
}

div.final-form-group form {
	display: inline-block;
	width: 100%;
}

div.final-form-group form div.form-field {
	margin-bottom: 10px;
}

div.final-form-group div.timepicker span.input-group-addon {
	background: #ffdd00;
	color: #fff;
}

div.customer-elements-group {
	margin-top: 10px;
}

/* Search Preference Bar  */

#search-preferences {
	border-bottom: 1px solid #2c2e3e;
	padding: 30px 50px;
	z-index: 1;
	position: relative;
	background: #fff;
}

#search-preferences-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#search-preferences-container > div {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	text-align: center;
	border-right: 2px solid #2c2e3e;
	border-image-source: linear-gradient(
		to bottom,
		rgba(44, 46, 62, 0.8) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	border-image-slice: 20;
}

#search-preferences-container > div:last-child {
	border: none;
}

#final-price-container {
	position: absolute;
	background: #2c2e3e;
	padding: 20px 10px;
	color: #ffdd00;
	opacity: 0;
	left: 85%;
	top: -25px;
}

#final-price-container .title-price {
	min-width: 100px;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
}

#final-price-container .odometer {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -1px;
}

/* Login Page */

div.login-page {
	/* The image used */
	/* background-image: url("../images/cover-img-1.jpg"); */
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.login-page::after {
	content: "";
	background: url("../images/cover-img-1.jpg");
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

div.login-container {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 50%;
	min-width: 200px;
	max-width: 480px;
	padding: 40px;
	border: 1px solid #2c2e3e;
	border-radius: 4px;
	background-color: #2c2e3e;
	min-height: 310px;
}

div.login-container div.form-field {
	margin-bottom: 20px;
}

div.login-container div.form-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.not-focusable,
.not-focusable input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
}
