<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- JQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="js/bootstrap-datepicker.js"></script>
<!-- Time Picker -->
<script src="js/bootstrap-timepicker.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Autocomplete-->
<!-- <script src="https://rawgit.com/Pixabay/JavaScript-autoComplete/master/auto-complete.min.js"></script> -->
<!-- Main -->
<script src="https://cdn.jsdelivr.net/npm/odometer@0.4.8/odometer.min.js" charset="utf-8"></script>
<script src="js/countUp.js"></script>
<script src="js/main.js"></script>
<script src="js/transfer.js"></script>