    /*
    Flaticon icon font: Flaticon
    Creation date: 13/05/2018 04:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-family-group-of-three:before { content: "\f100"; }
.flaticon-antenna:before { content: "\f101"; }
.flaticon-suitcase:before { content: "\f102"; }
.flaticon-postcard:before { content: "\f103"; }
.flaticon-landmark:before { content: "\f104"; }
.flaticon-holidays:before { content: "\f105"; }
.flaticon-sign:before { content: "\f106"; }
.flaticon-take-off:before { content: "\f107"; }
.flaticon-arrivals:before { content: "\f108"; }
.flaticon-cocktail:before { content: "\f109"; }
.flaticon-calendar:before { content: "\f10a"; }
.flaticon-island:before { content: "\f10b"; }
.flaticon-around:before { content: "\f10c"; }
.flaticon-plane:before { content: "\f10d"; }
.flaticon-departures:before { content: "\f10e"; }
.flaticon-car:before { content: "\f10f"; }
.flaticon-boat:before { content: "\f110"; }
    
    $font-Flaticon-family-group-of-three: "\f100";
    $font-Flaticon-antenna: "\f101";
    $font-Flaticon-suitcase: "\f102";
    $font-Flaticon-postcard: "\f103";
    $font-Flaticon-landmark: "\f104";
    $font-Flaticon-holidays: "\f105";
    $font-Flaticon-sign: "\f106";
    $font-Flaticon-take-off: "\f107";
    $font-Flaticon-arrivals: "\f108";
    $font-Flaticon-cocktail: "\f109";
    $font-Flaticon-calendar: "\f10a";
    $font-Flaticon-island: "\f10b";
    $font-Flaticon-around: "\f10c";
    $font-Flaticon-plane: "\f10d";
    $font-Flaticon-departures: "\f10e";
    $font-Flaticon-car: "\f10f";
    $font-Flaticon-boat: "\f110";