	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/05/2018 04:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-family-group-of-three:before { content: "\f100"; }
.flaticon-antenna:before { content: "\f101"; }
.flaticon-suitcase:before { content: "\f102"; }
.flaticon-postcard:before { content: "\f103"; }
.flaticon-landmark:before { content: "\f104"; }
.flaticon-holidays:before { content: "\f105"; }
.flaticon-sign:before { content: "\f106"; }
.flaticon-take-off:before { content: "\f107"; }
.flaticon-arrivals:before { content: "\f108"; }
.flaticon-cocktail:before { content: "\f109"; }
.flaticon-calendar:before { content: "\f10a"; }
.flaticon-island:before { content: "\f10b"; }
.flaticon-around:before { content: "\f10c"; }
.flaticon-plane:before { content: "\f10d"; }
.flaticon-departures:before { content: "\f10e"; }
.flaticon-car:before { content: "\f10f"; }
.flaticon-boat:before { content: "\f110"; }
